
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Changelist</th>
            <th>Owner</th>
            <th>Time Started</th>
            <th>Build</th>
            <th>Unit Test</th>
            <th>Build</th>
            <th>Functional Test</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: items">
        <tr>
            <td data-bind="text: changeList"></td>
            <td data-bind="text: owner"></td>
            <td data-bind="text: startedTime"></td>
            <td data-bind="css: buildSteps.build"></td>
            <td data-bind="css: buildSteps.unitTest"></td>
            <td data-bind="css: buildSteps.functionalTest"></td>
            <td data-bind="text: status>
        </tr>
    </tbody>
</table>